.home-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-container {
    display: flex;
    flex-direction: row;
}

.header-link {
    margin: 15px;   
}

.header-link:hover {
    text-shadow: 0 0 6px grey;
}

.active {
    text-shadow: 0 0 6px skyblue;
}