.house-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-options-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px black;
}

.display-options-container h2 {
    margin: 3%;
}

.display-options-form {
    width: 70%;
}

.display-options-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}